.mainBody{
    display: flex;
    flex-direction: row;
}
.column1{
width: 600px;

}
h2{
    font-weight: bold;
}
.logininvite{
    font-size: 30px;
    font-weight: bolder;
    font-style: normal;
    color:grey;
}